## Topic: Loops

#### OUTCOMES

- 1. Introduction to loops

- 2. for loops
    - Iteration over a range().
    - Iteration over a string.
    - Iteration over a list.
    - Iteration over a tuple.

- 3. while loops

- 4. loop control statements
    - break
    - continue
    - pass

- 5. Nested Loops

- 6. Practical Examples

### 1. Introduction to loops

- Loops are use to repeat instuctions.

- Repeat a block of code, until a specified condition is met.

- Type of loops
   
    - for loop
 
    - while loop

### 2. for loops

- Used to iterate over a sequence (like a list, tuple, string, etc.)

- Used for sequential Traversal.

In [ ]:
#### syntax of for loop
"""
for item in sequence:
    # body of for loop

"""

#### for loop Iteration over a range().

#### range() function
 function returns a sequenc of number.
- range()

In [ ]:
# Syntax of range()

"""
range(start, stop, step)  # three arguments

here,
   - start = 0 (By default) and it's optional

   - stop = a specified number based on condition (must be assign) and it's not inclusive

   - step = 1 (By default) and it's optional

"""

In [ ]:
# Example_01 of range()
# it's maintain 0-idx.

range(1,4,1)

range(1, 4)

In [3]:
# type casting
list(range(1,4,1))

[1, 2, 3]

In [ ]:

# Example_02 of range()

for i in range(1,10):  # star = 1 and end = before 10
    print(i)

1
2
3
4
5
6
7
8
9

In [30]:

# Example_03 of range()

for i in range(15):  # start = 0(default value) and end = 15 -1 , step size = 1 (by default)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [31]:
# Example_04 of range()

for i in range(5, 20, 2):  # start = 1 and end = 19 and step = 2
    print(i)

5
7
9
11
13
15
17
19

#### for loop Iteration over a string.

In [7]:
name = "My name is KzRaihan"

for item in name:
    print(item)

M
y

n
a
m
e

i
s

K
z
R
a
i
h
a
n

#### for loop Iteration over a list.

In [9]:
# Example of for loop with list
lst = [10,20,30,40,50]

for item in lst:
    print(item)

print(type(lst))

10
20
30
40
50
<class 'list'>

#### for loop Iteration over a tuple.

In [10]:
# Example of for loop with tuple

veg = ("Patato", "Tamato", "Brinjal", "ladyfinger", "Cucumber")

for item in veg:
    print(item)

print(type(veg))

Patato
Tamato
Brinjal
ladyfinger
Cucumber
<class 'tuple'>

In [1]:
# example of for loop
var = (10, 20, 30,40, 50, 60, 70, 80, 90)

i = 1

for i in var:
    print(var)
    i +=1

print(i)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
(10, 20, 30, 40, 50, 60, 70, 80, 90)
(10, 20, 30, 40, 50, 60, 70, 80, 90)
(10, 20, 30, 40, 50, 60, 70, 80, 90)
(10, 20, 30, 40, 50, 60, 70, 80, 90)
(10, 20, 30, 40, 50, 60, 70, 80, 90)
(10, 20, 30, 40, 50, 60, 70, 80, 90)
(10, 20, 30, 40, 50, 60, 70, 80, 90)
(10, 20, 30, 40, 50, 60, 70, 80, 90)
91

#### 3. While loop

-  A while loop is useful when we donâ€™t know how many times to repeat (or loop are executes).

-  The while loop continues to execute as long the conditions is True.

In [ ]:
"""
- Syntax of While loop

    initialization

      while condition:

        - do something if the condition is true     # this is the body of while loop

        - increment/decrement

"""
# cds 
# - single type value
#- comparision type value

In [ ]:
# Example of while loop

while True:
    print("KzRaihan")  # this is infinite loop

In [ ]:
# Example_02:

while 1:
    print("Good") # this is also infinite loop

### Note: Except for 'zero (0)' or 'False,' all conditions are True by default.

In [ ]:
## Example 03:
i = 1 # initialization

while i<=10: # cds
    print("KzRaihan")  # while loop body
    i += 1 # increment i = i + 1 
                       # i = 1 + 1
                       #    = 2

KzRaihan
KzRaihan
KzRaihan
KzRaihan
KzRaihan
KzRaihan
KzRaihan
KzRaihan
KzRaihan
KzRaihan

In [ ]:
### infinite loops 
# if start value(initialization) is greater then or equal to the end value and loop counter is increment then it is inifinite loop.

i = 2

while i >= 1:
    print(i)
    i += 1

In [ ]:
# infinite loop using decrement

i = 1

while i <= 2:  # Every iteration i is decrement
    print(i)

    i -= 1

In [13]:
### Actual use of while loop
# print numbers from 1 to 20

i = 1

while i<=20:
    print(i)

    i +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### 4. loop control statements

- use to teminate the loop when encounterd.

    - break
    - continue
    - pass

#### break statement

- The break statement exits the loop prematurely.

In [ ]:
### break control statement

i = 1

while i <= 10:
    if (i==5): # when i becomes 5 then exit this while loop.
        break
    
    print(i)

    i += 1

1
2
3
4

#### Continue statement

In [38]:
#  The continue statement skips the current iteration and continues with the next.

#  skip the pariticular set of line.

i = 1

while i <= 10:
    if i == 5:  # skip only 5
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
6
7
8
9
10

In [ ]:
# example of continue statement

i = 1

while i <= 10:

    if i%2 == 0:   # skip all even numbers
        i += 1
        continue
    print(i)
    i += 1

print(i)

1
3
5
7
9
11

#### pass statement

In [42]:
## pass statement
# pass is a null statement. it's does nothing.
# - use as placeholder for future code.

for el in range(10):
    pass

  

print("some useful work")

some useful work

### 5. Nested Loops
- refers to using loop statement inside another loops statements.
- loop inside another loops.

In [ ]:
#### Syntax of Nested Loop statements
'''
for item in sequence:       # outter loop statement

  if (condition): 
 
    -----------             # body of outter if statment
    -----------
    
    while item <= 100:        # inner loop statement

        if (condition):  
            -----------
            ----------       # body of the inner loop statement
    
        else:   # inner else
            ----------
            ----------- # inner else statement

else:                         # outter else it posible
    
    ------body of the outter else statement-----
    --------------------------------------------
    
'''

In [3]:
# Example of Nested loop

for i in range(1,5):
    for j in range(1,3): # inner loop
        print(f"i: {i} and j: {j}")

i: 1 and j: 1
i: 1 and j: 2
i: 2 and j: 1
i: 2 and j: 2
i: 3 and j: 1
i: 3 and j: 2
i: 4 and j: 1
i: 4 and j: 2

### 6. Practical Examples

- 1. calculate the sum of n natural numbers using while and for loops
- 0 + 1 + 2 + ...........+ n.

In [ ]:
# Solve_01: using while loop

num = 10  

sum = 0

counter = 1 # (initialization value)

while counter <= num:
    sum = sum + counter # sum = 6 (1st iteration)

    counter += 1

print("Sum of First 10 natural number: ", sum)

Sum of First 10 natural number:  55

In [4]:
# Solve_01: using for loop

sum = 0

for i in range(1,11):
    sum += i

print("Sum of First 10 natural number: ", sum)

Sum of First 10 natural number:  55

- 2. Write a python program to display prime numbers bewteen 1 to 100.

hint:
- A prime number greater than 1.
- it's must be divisible only by 1 and itself.

In [7]:
# sovle_02:

for num in range(1, 101):

    if num > 1:
        for i in range(2,num):

            if num % i == 0:
                break
        
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97