### Tuples in Python

### OUTCOMES

- 1. Introduction to Tuples.

- 2. Creatign Tuples

- 3. Accessing tuples elements

- 4. Immutable Nature of Tuples.

- 5. Tuples Operations.

- 6. Tuples Methods.

- 7. Packing and Unpacking Tuples.

- 8. Nested Tuples

- 9. Practical Examples and Common Errors.

###  1. Introduction to Tuples.

- Tuples are ordered collection of items that are immutable.

### 2. Creatign Tuples

In [ ]:
# Syntax of Tuples

''' 
tuple_name = (element1, element2,....)      # parentheses 


'''

In [ ]:
# Create Empty or Null Tuples

# Example_01:  first way to create empty tuples
empty_tpl = ()  

print(empty_tpl)

print(type(empty_tpl))

()
<class 'tuple'>

In [ ]:
# Example_02: second way to create empty or null tuples

null_tpl = tuple()

print(null_tpl)

print(type(null_tpl))

()
<class 'tuple'>

In [ ]:
# Example_03: Creating tuple of same data types elements
nums = (10,20, 30, 40, 50, 60, 70, 80, 90, 100)

print(nums)

print(type(nums))

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
<class 'tuple'>

In [6]:
# Example_04: Creating tuple difference data types elements


mixed_tpl = ("Kz", 24, 99.99, "Python",[10, 20, 30], ("Raihan", 3.1416, 50), {"name": "KzRaihan", "age": 25}, True )

print(mixed_tpl)

print(type(mixed_tpl))

('Kz', 24, 99.99, 'Python', [10, 20, 30], ('Raihan', 3.1416, 50), {'name': 'KzRaihan', 'age': 25}, True)
<class 'tuple'>

### 3. Accessing tuples elements

In [ ]:
# Example_01: Accessing tuples elements using indexing

tpl = ("Kz", 24, 3.14,True, "CSE")

# Access Tuple elements by indexing

first_element = tpl[0]  # positive idxing
lst_element = tpl[-1]   # Negative idxing

print(first_element)

print(lst_element)

Kz
CSE

In [ ]:
''' 

--------------------------------------
 0   |   1 |    2  |    3  |    4  |    # Positive idx
-------------------------------------
("Kz" , 24  , 3.14  , True,  "CSE")     # tuple elements
--------------------------------------
-5   |   -4 |    -3  |   -2  |   -1  |    # Negative idx
--------------------------------------


'''

In [ ]:
# if the idx is not valid then it's generated errors(IndexError)
print(tpl[9])

IndexError: tuple index out of range

In [ ]:
# Example_02: Accessing tuples elements using Slcing.
# slicing -> Accessing a part of tuple

print(tpl)

print(tpl[0:4])

print(tpl[2:4])

print(tpl[:])

print(tpl[:-1]) # note : here, start = 0 idx , end = -1 (before -1 idx) or -1 is exclusive, and step = 1 (positive)

('Kz', 24, 3.14, True, 'CSE')
('Kz', 24, 3.14, True)
(3.14, True)
('Kz', 24, 3.14, True, 'CSE')
('Kz', 24, 3.14, True)

In [ ]:
# More example
print(tpl[::-1])  #  Reserve the tuple

('CSE', True, 3.14, 24, 'Kz')

### 4. Immutable Nature of Tuples.

- Tuple are immutable, meaning their element can not be changed once assigned.

In [ ]:
# Example_01: mutable nature of list

lst = [10, 20, 30, 40, 50]

print(lst)
# access
print(lst[0])  

# change 
lst[0] = 100

print(lst[0])

print(lst)

[10, 20, 30, 40, 50]
10
100
[100, 20, 30, 40, 50]

In [24]:
# Example_02: Immutable Nature of Tuples.
nums = ("Kz", 10, 20, 30, "python", "tuple")

print(nums)

# access
print(nums[0])

# if we try to modify. it can't modify
nums[0] = "Raihan"

print(nums[0])

print(nums)

('Kz', 10, 20, 30, 'python', 'tuple')
Kz

TypeError: 'tuple' object does not support item assignment

In [28]:
# if we want to change tuple element 

# step_01: first convert tuple into list.
# step_02: modify the list elements.
# step_03: again convert list to tuple.

nums = ("Kz", 10, 20, 30, "python", "tuple")

# step_01: first convert tuple into list.

lst = list(nums)
print(lst)
print(type(lst))

# step_02: modify the list elements.
lst[0] = "Raihan"
lst[3] = 3.1416

print(lst)

# step_03: again convert list to tuple.

nums = tuple(lst)

print(nums)

#

['Kz', 10, 20, 30, 'python', 'tuple']
<class 'list'>
['Raihan', 10, 20, 3.1416, 'python', 'tuple']
('Raihan', 10, 20, 3.1416, 'python', 'tuple')

### 5. Tuples Operations.

In [ ]:
# Example_01: Tuple concatenation operation

# concatenation: combine two or more tuples.

num1 = (1,2,3,4,5)

num2 = (5,6,7,8,9)

# concatenation opration
num3 = num1 + num2
print(num3)

# again concatenation
print(num3 + num1)

(1, 2, 3, 4, 5, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5)

In [ ]:
# Example_02: Tuple repetition operation

print(num1)

print(num1 * 2)  # two times repetition

print(num1 * 3)

print(num1)  # main num1 is not change

# if we want to change

num1 = num1 * 4

print(num1)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 6. Tuples Methods.

In [41]:
# Example_01: tpl.index(element)
# return the idx of first occurence

print(num1)

idx_of_5 = num1.index(5)
print(idx_of_5)  # return the idx of 5 first occurence.

print(num1[idx_of_5]) # access the element.

print(num1.index(2))

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
4
5
1

In [44]:
# Example_02: tpl.count(element)
# return how many times elment are present inside the tuple.(count total occurrences)

print(num1)

element_1_total = num1.count(1)

print(element_1_total)

print(num1.count(5))

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
4
4

### 7. Packing and Unpacking Tuples.

In [ ]:
# Example_01: single element store in tuple

var = (1)  # what is the type of num?

# solve
print(type(var))

# so in this num = (1) way that is not tuple initialization.

# only one (single) value for tuple initialization.

num = (1,) # it's a tuple

print(type(num))

<class 'int'>
<class 'tuple'>

In [49]:
# Example_02: Packing of tuples
# donâ€™t need to specify parentheses always, Python automatically packs values into a tuple.

pack_tpl = "Kz", 24, 3.14, "python"  # tuple combine this values in a tuple.

print(pack_tpl)

print(type(pack_tpl))

('Kz', 24, 3.14, 'python')
<class 'tuple'>

In [ ]:
# Example_03: Unpacking of tuples
# Splitting a tuple into individual variables.


name, age, pi, subject = pack_tpl

print("Name: ", name)
print("age : ", age)

print("PI value: ", pi)
print("subject: ", subject)

print(type(name))

# Note: The number of variables on the left must match the number of elements in the tuple.

Name:  Kz
age :  24
PI value:  3.14
subject:  python
<class 'str'>

In [ ]:
# Example_04:Packing and Unpacking of tuple when the number are not same

# packing
student_info = "Raihan", 25, "Bangladesh", "CSE"

print(student_info)

# unpacking
name, age, country = student_info   # here, the number of variable is not equal to the student_info tuples element

print(name)

('Raihan', 25, 'Bangladesh', 'CSE')

ValueError: too many values to unpack (expected 3)

In [56]:
# Example_05 : Packing and Unpacking of tuple swap two number

num1, num2 = 10, 20

print(num1, num2)

num1, num2 = num2, num1

print(num1 , num2)

10 20
20 10

### 8. Nested Tuples

In [ ]:
# Tuple inside tuples in called nested tuple

nested_tpl = ((10,20,30), ("Kz", "Rai", "KzRaiahn"), (True, False))

print(nested_tpl)

((10, 20, 30), ('Kz', 'Rai', 'KzRaiahn'), (True, False))

In [ ]:
''' 
--------------------------------------------------------
   0           |         1               |       2
--------------------------------------------------------
((10,20,30),    ("Kz", "Rai", "KzRaiahn"), (True, False))
--------------------------------------------------------
 0,0 | 0,1 | 0,2| 1.0  | 1.1  |  1.2    |   2.0  | 2.1 |
 --------------------------------------------------------

'''

In [60]:
# Access the nested tuple

print(nested_tpl[0])

print(nested_tpl[1])

(10, 20, 30)
('Kz', 'Rai', 'KzRaiahn')

In [63]:
# Access nested elements

print(nested_tpl[0][0])  # 10
print(nested_tpl[1][2])  # KzRaihan
print(nested_tpl[2][0])  # True

10
KzRaiahn
True

In [65]:
# access nested all element
print(nested_tpl[0][:])  # print the 0 idx all elements

print(nested_tpl[1][::-1])

(10, 20, 30)
('KzRaiahn', 'Rai', 'Kz')

### 9. Iteration over tuples and Practical Examples

In [68]:
# Example_01: Iteration over tuples
print(nested_tpl)

for sub_tpl in nested_tpl:
    for item in sub_tpl:
        print(item, end = " ")

    print()

((10, 20, 30), ('Kz', 'Rai', 'KzRaiahn'), (True, False))
10 20 30
Kz Rai KzRaiahn
True False

In [77]:
# Example_02: Iteration over tuples only print 0 idx elements in tuple

print(nested_tpl[0])

lst1 = (10,20,30)

for sub_tpl in nested_tpl:
    for item in sub_tpl:
        if item in lst1:
            print(item, end = " ")
        else:
            continue
      
    print()

(10, 20, 30)
10 20 30

In [79]:
### WAP to count the numbers of zeros in the following tuple
# (7,0,5,0,3,0,4,9)

tpl = (7,0,5,0,3,0,4,9)

count_total_zero = tpl.count(0)

print(f"Total zero in the tuple : {count_total_zero}")

Total zero in the tuple : 3

In [81]:
# another way to iteration over tuple
count_zero = 0

for item in tpl:
    if item == 0:
        count_zero += 1
    else:
        continue
print(f"Total zero: {count_zero}")

Total zero: 3

#### Conclusion of Tuple:

- Tuples are versatile and useful in many real-world secnarios where an immutable and ordered collection of items is required. They are commanly used in date structue, function argument and return values and as dictionary keys.

- Understanding how to leverage tuples effectively can imporove the efficiency and readability of our python code.