### Topic: List Data Structure

#### OUTCOMES

- 1. Introduction to list.

- 2. Creating lists.

- 3. Accessing and Modify list Items
    - Indexing
    - Slicing 

- 4. Lists Method.

- 5. Iteration over lists.

- 6. List Comprehensions.

- 7. Nested lists List Comprehensions.

- 8. Practical Example.

### 1. Introduction to list

- A build in data Structure that store elements of different types (int, float, str, bool etc)..

- list are ordered, mutable collection of items.

### 2. Creating lists

In [ ]:
# Syntax of list

"""
list_name = [item1, item2, item3,....]   # square brackets

"""

In [ ]:
# Example_01: creating an empty
lst = [ ]  

print(type(lst))   # < class 'list >

<class 'list'>

In [8]:
# Example_02: creating string list

name = ['Kz', 'Ra', 'Rz', 'Az']

print(name)

print(type(name))     # < class 'list' >

print(type(name[0]))   # < class 'str' >

['Kz', 'Ra', 'Rz', 'Az']
<class 'list'>
<class 'str'>

In [10]:
# Example_03: creating flaot list

marks = [97.07, 88.89, 95.55, 90.99]

print(marks)

print(type(marks))

[97.07, 88.89, 95.55, 90.99]
<class 'list'>

In [12]:
# Example_04: creating Mixed list

mixted_lst = ["Kz", 24, 5.6, True, "Python"]

print(mixted_lst)

print(type(mixted_lst))

['Kz', 24, 5.6, True, 'Python']
<class 'list'>

### 3. Accessing and Modify list Items

- 3.1 :  Accessing and Modify list Items by using indexing

In [ ]:
#### Accessing list item using index

"""
mixted_lst = ["Kz", 24, 5.6, True, "Python"]

According to the  list, the corresponding created idx's


-----------------------------------
|"Kz" |  24 |5.6 | True | Python |
 ----------------------------------
| 0    | 1   | 2  | 3    | 4     |  <---- this is positive idxing format.
  -----------------------------------

"""

In [ ]:
# Accessing list using positive idx

lst = ["Kz", 24, 5.6, True, "Python"]

first_item = lst[0]

print(first_item)

Kz

In [15]:
# another way
print(lst[4])

Python

In [ ]:
#### # Accessing list using negative idx

"""
mixted_lst = ["Kz", 24, 5.6, True, "Python"]

According to the  list, the corresponding created negative idx's
- negative idx start with end of the list


-----------------------------------
|"Kz" |  24 | 5.6 | True | Python |
 ----------------------------------
| -5  | -4  |- 3  | -2   | -1     |  <---- this is negative idxing format.
  -----------------------------------

"""

In [ ]:
#### # Accessing list using negative idx

lst = ["Kz", 24, 5.6, True, "Python"]

print(lst[-1])

print(lst[-5])

print(lst[-3])

Python
Kz
5.6

- Modify list Items by using indexing

In [ ]:
'''
 ----------------------------------
| 0    | 1   | 2  | 3    | 4     |  <---- this is positive idxing.
-----------------------------------
|"Kz" |  24 | 5.6 | True | Python |
 ----------------------------------
| -5  | -4  |- 3  | -2   | -1     |  <---- this is negative idxing.
  -----------------------------------

'''

In [22]:
# Modify list items using  positive idx

lst = ["Kz", 24, 5.6, True, "Python"]

lst[0] = "Ra"
lst[2] = 6.2

print(lst)

['Ra', 24, 6.2, True, 'Python']

In [25]:
# Modify list items using  Negative idx

lst = ["Kz", 24, 5.6, True, "Python"]

lst[-1] = "C"
lst[-4] = 20

print(lst)

['Kz', 20, 5.6, True, 'C']

- 3.2 :  Accessing and Modify list Items by using Slicing

In [29]:
### Create Indexing problem
lst = ["Kz", 24, 5.6, True, "Python"]

# access multiple items is prosible using idx
print(lst[1,2])

TypeError: list indices must be integers or slices, not tuple

In [30]:
# modify multiple items is prosible using idx

lst[1,2] = "RA", 34
print(lst)

TypeError: list indices must be integers or slices, not tuple

##### Slicing
- Acess and modify multiple list items.

- Extract sublist of the list using the colon (:) operator.

In [ ]:
# Syntax of slicing
"""
list_name = [start_idx : stop_idx: step_size]

- start_idx = 0 (By Default). and it's inclusive.

- stop_idx = up to the last items (length of the list) (By Default) and it's not inclusive (Exclusive).

- step_size = 1 (By Default)


"""

In [ ]:
'''
 ----------------------------------
| 0    | 1   | 2  | 3    | 4     |  <---- this is positive idxing.
-----------------------------------
|"Kz" |  24 | 5.6 | True | Python |
 ----------------------------------

'''

In [34]:
# Example_01: Access items using slicing

lst = ["Kz", 24, 5.6, True, "Python"]

first_to_third = lst[0:3:1]  # from 0 idx to 3-1 (3 is not include) idx all item is print.
print(first_to_third)

print(type(first_to_third)) # sublist

['Kz', 24, 5.6]
<class 'list'>

In [ ]:
# Example_02: Access items using slicing

lst = ["Kz", 24, 5.6, True, "Python"]

print(lst[1:])

print(lst[:])  # all items print according to slicing default value that's automatically work.

print(lst[::]) # same concept

[24, 5.6, True, 'Python']
['Kz', 24, 5.6, True, 'Python']
['Kz', 24, 5.6, True, 'Python']

In [ ]:
'''
 --------------------------------------------------
| 0 |   1 |  2 |  3 |  4 | 5 | 6  | 7  | 8  | 9  |  <---- this is positive idxing.
--------------------------------------------------
|10 |  20 | 30 | 40 | 50 | 60 | 70| 80 | 90 | 100|  # items of the list (nums)
 ------------------------------------------------

'''

In [44]:
# Example_03: Access items using slicing

nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(nums[1: : 2])

print(nums[:8:3])

print(nums[5::2])

print(nums[1:10:])

[20, 40, 60, 80, 100]
[10, 40, 70]
[60, 80, 100]
[20, 30, 40, 50, 60, 70, 80, 90, 100]

In [46]:
# Example_04: Access items using slicing nevative idx

print(nums[-1:-3:-1])

print(nums[-3:-9:-2])

[100, 90]
[80, 60, 40]

In [ ]:
'''
 --------------------------------------------------
| 0 |   1 |  2 |  3 |  4 | 5 | 6  | 7  | 8  | 9  |  <---- this is positive idxing.
--------------------------------------------------
|10 |  20 | 30 | 40 | 50 | 60 | 70| 80 | 90 | 100|  # items of the list (nums)
 ------------------------------------------------

'''

In [50]:
# modify multiple list items using slicing

nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

nums[0:5] = [500, 600, 700, 800, 900]

print(nums)

[500, 600, 700, 800, 900, 60, 70, 80, 90, 100]

### 4. Lists Method.

In [58]:
# 1st_method: append(item)
# Add an item to the end of the list.

fruits = ['Apple', 'Mango', 'banana', 'cherry', 'kiwi']

fruits.append('Orange')

print(fruits)

['Apple', 'Mango', 'banana', 'cherry', 'kiwi', 'Orange']

In [59]:
# 2nd Method: insert(idx, item): Insert the item according to the idx.

fruits.insert(2, "Jackfruit")

print(fruits)

['Apple', 'Mango', 'Jackfruit', 'banana', 'cherry', 'kiwi', 'Orange']

In [ ]:
# 3th method : extend([item1, item2, item3]) 

# Add multiple items at the end of the list
fruits.extend(["Litchi", "Watermelon"])

print(fruits)

['Apple', 'Mango', 'Jackfruit', 'banana', 'cherry', 'kiwi', 'Orange', 'Litchi', 'Watermelon']

In [ ]:
# 4th Method: index(item): Return the idx of the item occurrence

print(fruits.index("Mango"))

1

In [55]:
fruits[1]

'Mango'

In [ ]:
# if the item is not present then it will generated error
print(fruits.index("Lemon"))

ValueError: 'Lemon' is not in list

In [64]:
## insert item
fruits.insert(2, "Mango")

print(fruits)

['Apple', 'Mango', 'Mango', 'Mango', 'Jackfruit', 'banana', 'cherry', 'kiwi', 'Orange', 'Litchi', 'Watermelon']

In [65]:
# 5th Method : count("item") 

# counting the item that inside the list

mango_count = fruits.count("Mango")

print(mango_count)

3

In [ ]:
# 6th Method : remove("item") 

# Remove the item inside the list of first occurance.

fruits.remove("Mango")

print(fruits)

['Apple', 'Mango', 'Mango', 'Jackfruit', 'banana', 'cherry', 'kiwi', 'Orange', 'Litchi', 'Watermelon']

In [68]:
mango_count = fruits.count("Mango")

print(mango_count)

2

In [70]:
# 7th Method : pop() 

# Remove and Return the last item inside the list.

last_item = fruits.pop()

print(fruits)

['Apple', 'Mango', 'Mango', 'Jackfruit', 'banana', 'cherry', 'kiwi', 'Orange']

In [ ]:
last_item  # Return the last item

'Litchi'

In [72]:
# 8th Method : sort() 

# sort the list in ascending order.

fruits.sort()

print(fruits)

['Apple', 'Jackfruit', 'Mango', 'Mango', 'Orange', 'banana', 'cherry', 'kiwi']

In [107]:
fruits = ['Apple', 'Mango', 'banana', 'cherry', 'kiwi']

In [108]:
# 9th Method : reverse() 

# reverse the list.

fruits.reverse()

print(fruits)

['kiwi', 'cherry', 'banana', 'Mango', 'Apple']

In [109]:
# 10th Method : copy()

# copy all list items
ban_fruits = fruits.copy()

print(ban_fruits)

['kiwi', 'cherry', 'banana', 'Mango', 'Apple']

In [110]:
# 11th Method : clear() 

# Remove all items from the list.

fruits.clear()

print(fruits)

[]

### 5. Iteration over lists.

In [77]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for item in nums:
    print(item)

10
20
30
40
50
60
70
80
90
100

In [82]:
# Iteration with idx
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for idx, item in enumerate(nums):
    print(idx, item)

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90
9 100

### 6. List Comprehensions.
- format that allow the concise creation of collections.

- provide a more readable and concise way to create collections compared to traditional loops.

In [ ]:
# Synatax of List comprehension

'''
# 1. Basic Syntax
[ expression  for item in iterable ]

# 2. With Conditional logic 

[ expression for item iterable  if condition ]


here, expression = output

'''

In [ ]:
# Example_01 : List comprehension with Basic Syntax

# Traditional way
lst = []

for i in range(10):
    lst.append(i)

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
# apply List comprehension

lst = [i for i in range(15)]

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [2]:
# Example_02 : List comprehension with Basic Syntax

# Traditional way
squal_num = []

for item in range(1,10):
    squal_num.append(item**2)

print(squal_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [88]:
# Apply list comprehension

lst_squal = [item * item for item in range(1,10)]

print(lst_squal)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# only using print() function
print([item ** 2 for item in range(1,10)])

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# 2. list comprehension With Conditional logic

# print only even number(1-20) using traditional way

even_lst = []

for item in range(1,20):
    if item%2 == 0:
       even_lst.append(item)
    
print(even_lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [93]:
# Apply print only even number(1-20) using list comprehension

lst_even = [item for item in range(1,20)  if item%2==0]

print(lst_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [100]:
# 3. list comprehension With Conditional logic

evn_lst = []

od_lst = []

[evn_lst.append(item) if item%2 == 0 else od_lst.append(item) for item in range(1,20) ]

print(evn_lst)
print(od_lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 7. Nested lists List Comprehensions.

In [ ]:
'''
Syntax: 
 [[expression] for item1 in sequnce1 for item2 in seqence2 ]


'''

In [103]:
lst_1 = [1,2,3, 4,5]

lst_2 = ['a', 'b', 'c', 'd']

pair = [[item1,item2] for item1 in lst_1 for item2 in lst_2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd']]

### 8. Practical Example.

In [ ]:
# Eg_01: WAP to ask the user to enter names their 4 favorite movies and store them in list.
# The Wild Robot,  devdas, bahubali 2, Parineeta 

fv_movies = []

for movies in range(4):
    
    movies = input("Enter your 4 fv movie: ")
    fv_movies.append(movies)

print(fv_movies)

['The Wild Robot', 'Devdas', 'Bahubali 2', 'Parineeta']

In [ ]:
# Eg_02: WAP to check if a list contains a palindrome of elements

In [132]:
# Eg_03: WAP to count the number of students with the 'A' grade in the following list
# ["C", "D", "A", "A", "B" "B", "A"]

grade = ["C", "D", "A", "A", "B", "A",  "B"]

a_grade = grade.count("A")

print(a_grade)

3

In [133]:
# Eg_04: Sort them from "A" to "D"

grade.sort()
print(grade)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [ ]:
# Eg_05: WAP to to store severn fruits in a list by the user input.

In [144]:
# Eg_06: WAP to sum a list 50 numbers

lst = []
sum = 0

for item in range(1,51):
    lst.append(item)
    sum += item

print(lst)
print(f"Sum of first 50 numbers: {sum}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Sum of first 50 numbers: 1275