## Topic: Set Data Structure in Python

### OUTCOMES

- 1. Introduction of Sets

- 2. Creating sets

- 3. sets Method

- 4. Membership test 

- 5. Mathematical Operation

- 6. Practical Example

#### 1. Introduction of sets

- set are build in data structure in python.

- used to store a collection of unique items in an unordered format.

- Each Element in the set must be unique and immutable (Not changeable/modify).

### 2. Creating sets

In [ ]:
# Create an empty sets

empty_set = set()

print(empty_set)

print(type(empty_set))  # < class 'ste' >

set()
<class 'set'>

In [ ]:
# syntax of set
''' 
set_name = {value1, value2, ......}    #  curly braces

'''

In [2]:
# Example_01: Create set

my_set = {1,2,3,4,5,6,7,8}

print(my_set)

print(type(my_set))

{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>

In [ ]:
# Example_02: Create set for different data type

mixed_set = {"Kz", 24, 5.6, True}

print(mixed_set)


print(type(mixed_set))

{24, True, 'Kz', 5.6}
<class 'set'>

In [ ]:
# Example_03:Create set for different data structure

diff_data = {[1, 2,3,4], "Python", 99.66}

print(diff_data)

### Note: Sets can't store mutable data type values like (list, dic)

TypeError: unhashable type: 'list'

In [ ]:
# Example_04: Try to Create set for duplicate value

my_set = {10, 20, 30, 20, 10, 40, 50, 60, 70, 60, 80}

print(my_set)

# Note: ignore the duplicate value's and print unorder format.

{70, 40, 10, 80, 50, 20, 60, 30}

### 3. sets Method

##### i. set.add(element) 

- add a element in the set

In [ ]:
# Example_01: set.add(element)

my_set = {10, 20, 30, 40, 50, 60, 70, 80}

my_set.add(100)

print(my_set)  # Store in unorder format

{100, 70, 40, 10, 80, 50, 20, 60, 30}

In [ ]:
# Example_02: set.add(element)
# try to add duplicate value

my_set.add(10)

print(my_set)  # here , ignore the duplicate value

{100, 70, 40, 10, 80, 50, 20, 60, 30}

##### ii. set.remove(element) 

- remove the specific element in the set.

In [15]:
# To see set
print(my_set)

{100, 70, 10, 80, 50, 20, 60, 30}

In [ ]:
# Example_01: set.remove(element)

my_set.remove(40)

print(my_set)

In [ ]:
# Example_02: set.remove(element)
# When element is not present inside the set

my_set.remove(40)

print(my_set)

# Note : if we try to remove a elements that is not inside the set then it's generate error(KeyError)

KeyError: 40

##### iii. set.discard(element) 

- remove the specific element in the set if it is a member. if not memeber then is not generate error(keyError)

In [ ]:
# To see the set
print(my_set)

{100, 70, 10, 80, 50, 20, 60, 30}

In [ ]:
# Example_01: set.discard(element)
# When element is memeber in set

my_set.discard(70)

print(my_set)

{100, 10, 80, 50, 20, 60, 30}

In [ ]:
# Example_02: set.discard(element)

# if the element is not memeber

my_set.discard(100)

print(my_set)

# here, discared() method is not generated error.

{10, 80, 50, 20, 60, 30}

##### iv. set.pop() 

- remove and return the random element in the list.

In [23]:
# Example_01: set.pop()

remove_element = my_set.pop()

print(remove_element)

print(my_set)

10
{80, 50, 20, 60, 30}

##### v. set.clear()

- Remove all elements in the set

In [25]:
# Example_01: set.clear()

my_set.clear()

print(my_set)

set()

### 4. Membership test 
- To check the element is memeber or not in sets.

- Return a boolean value (True/False).

In [30]:
# Example_01: Memebership test

set_my = {10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

print(10 in set_my)  # True

print(100 in set_my) # True

print(11 in set_my) # False

print(101 in set_my) # False

print(80 in set_my)  # True

True
True
False
False
True

## 5. Mathematical Operation

- union operation.

- intersection operation.

- difference operation.

- Symmetric difference operation.

In [ ]:
# Example: union Operation

# - Combine all sets elements without duplicate elements.

set_1 = {10, 20, 30, 40, 50, 60}

set_2 = {40, 50, 60, 70, 80, 90}

union_set = set_1.union(set_2)

print("Set 1: ", set_1)

print("Set 2: ", set_2)

print("union: ", union_set)

Set 1:  {50, 20, 40, 10, 60, 30}
Set 2:  {80, 50, 70, 40, 90, 60}
union:  {70, 40, 10, 80, 50, 20, 90, 60, 30}

In [ ]:
''' 
set_1 = {10, 20, 30, 40, 50, 60}

set_2 = {40, 50, 60, 70, 80, 90}


here, 

Total unique element = 10, 20, 30, 40, 50, 60, 70, 80, 90

common element = 40, 50, 60

set_1 unique element = {10, 20, 30}

set_2 unique element = {70, 80, 90}

'''

In [35]:
# Example: intersection Operation

# - combines and return only common elements.

set_1 = {10, 20, 30, 40, 50, 60}

set_2 = {40, 50, 60, 70, 80, 90}

intersection_set = set_1.intersection(set_2)

print(intersection_set)

{40, 50, 60}

In [37]:
# Example : intersection_update()
# pick all common elements in first and second sets and store into first set.

set_1 = {10, 20, 30, 40, 50, 60}

set_2 = {40, 50, 60, 70, 80, 90}

set_1.intersection_update(set_2)

print(set_1)

print(set_2)

{40, 50, 60}
{80, 50, 70, 40, 90, 60}

In [38]:
# Another Example : intersection_update()


set_1 = {10, 20, 30, 40, 50, 60}

set_2 = {40, 50, 60, 70, 80, 90}

set_2.intersection_update(set_1)

print(set_2)

print(set_1)

{40, 50, 60}
{50, 20, 40, 10, 60, 30}

In [ ]:
''' 
set_1 = {10, 20, 30, 40, 50, 60}

set_2 = {40, 50, 60, 70, 80, 90}


here, 

all unique element = 10, 20, 30, 40, 50, 60, 70, 80, 90

intersection element = 40, 50, 60

set_01 non-intersection element = 10, 20, 30  

set_02 non-intersection element = 70, 80, 90

'''

In [ ]:
# Example : difference operator

# Removing the intersection elements or store only non-common elements

# if set_01 is first then removing all intersection elements of the set_01 and store only non-intersection elements


set_1 = {10, 20, 30, 40, 50, 60}

set_2 = {40, 50, 60, 70, 80, 90}

set1_set2 = set_1.difference(set_2)  # store only non-intersection elements

set2_set1 = set_2.difference(set_1)  # remove intersection elments

print(set1_set2)

print(set2_set1)

{10, 20, 30}
{80, 90, 70}

In [46]:
## Note : But main sets are unchanged.

print(set_1)

print(set_2)

{50, 20, 40, 10, 60, 30}
{80, 50, 70, 40, 90, 60}

In [1]:
# Example : symmetric differnce

# Remove the intersection elements and store both sets non-intersection elements

set_1 = {10, 20, 30, 40, 50, 60}

set_2 = {40, 50, 60, 70, 80, 90}

sym_diff = set_1.symmetric_difference(set_2)

print(sym_diff)  # only show the unique elements of both sets

{70, 10, 80, 20, 90, 30}

### 6. Practical Example

In [50]:
# Example_01: Given that an list
# [1,2,3,1,5,6,2,3,9,10,5,5,6,7,8,5] print all the unique elements in this list

# slove

lst = [1,2,3,1,5,6,2,3,9,10,5,5,6,7,8,5]

unique_element = set(lst)

print(unique_element)

{1, 2, 3, 5, 6, 7, 8, 9, 10}

In [ ]:
## Example_02: Counting unique words in text
# text = "Bangladesh is a very small country, and it is a beautiful country"

# solve

text = "Bangladesh is a very small country, and it is a beautiful country"

words = text.split()  # split the text by spaces.

count_unique = set(words)

total_unique_element = len(count_unique)

print(count_unique)

print(total_unique_element, "Unique Element in the text")

# total tex lenght = 12
# here doplicate elements = 'is', 'a'

{'it', 'and', 'is', 'country', 'a', 'Bangladesh', 'beautiful', 'very', 'country,', 'small'}
10 Unique Element in the text