### OUTCOMES OF THE DATA TYPE

  - 1. Definition and Introduction of Data type
  - 2. Important of Data type in programming
  - 3. Basic Data type
        - integer 
        - floating-point numbers
        - strings
        - Booleans
 - 4. Advanced Data Type
       - tuple
       - list
       - set
       - dictionaries
 - 5. Type Conversion
 - 6. Practical Example

#### 1. Definition of Data type
- Data type refers that what kind of data that a variable can hold.
- determines what operations can be performed on that data.

#### Introduction of Data type

- Data type are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.

- They determine the type of operations that can be performed on the data, the values that the data can take and the among of memory needed to store the data.
    - int64 → 8 bytes
    - float64 → 8 bytes
    - boolean → 1 byte
    - string → depends on defined length of the string.

#### 2. Importance of Data Type in Programming
   
- Data Type ensure that data is stored in an efficient way.

- They help in Performing correct operations on data.

- Proper use of Data Types can prevent errors and bugs in the Program.

#### 3. Basic Data type

In [ ]:
# integer Data Type
age = 24
print(age)
print(type(age))  # <class 'int'>
print("--------------------\n")


# float Data Type
height = 5.6
print(height)
print(type(height))  # <class 'float'>
print("--------------------\n")

# string Data Type
name = "Kz"
print(name, type(name))  # <class 'str'>    
print("--------------------\n")

# boolean Data Type
is_true = True
print(is_true)
print(type(is_true))  # <class 'bool'>
print("--------------------\n")


# another boolean data type
num1 = 10
num2 = 12

print(num1 == num2) # False
print(type(num1 == num2)) # <class 'bool'>

24
<class 'int'>
--------------------

5.6
<class 'float'>
--------------------

Kz <class 'str'>
--------------------

True
<class 'bool'>
--------------------

False
<class 'bool'>

#### 5. Type Conversion

In [ ]:
# common error
result = 10 + "10" # int and str can not be add/concatenated.
print(result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
# Solve the above error by using type conversion
result = 10 + int("10") # convert str to int
print(result) # 20
print(type(result))  # <class 'int'>

20
<class 'int'>

In [ ]:
# another Example
str1 = "Kz"
num = 10

sum = str1 + num # This is an error because you can't concatenate str and int

print(sum)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Solve the above error by using type conversion
str1 = "Kz"
num = 10

sum = str1 + str(num)  # This is an error because you can't concatenate str and int

print(sum)
print(type(sum))  # <class 'str'>

Kz10
<class 'str'>

In [2]:
# we can't convert str to int

str1 = "Kz"
num = 10

sum = int(str1) + num  

print(sum)
print(type(sum))  # <class 'str'>

ValueError: invalid literal for int() with base 10: 'Kz'